/* You can add global styles to this file, and also import other style files */
/* full-bleed page, no browser margins */
html,
body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  background: #1f1f1f;
  color: #eaeaea;
  font-family: Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
